/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
main {
  margin-top: 60px;

}

/*header style*/
header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div, form{
  background-color: gray;
  width: 70%;
  padding: 20px;
  margin: auto;
}


div p{
  display: flex;
  flex-direction: row;
}

button{
  float: right;
}

.noBackground{
  background-color: white;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}


.answerList{
  display: flex;
  flex-direction: row;
}


/* Groups & Items  (Desktop) */

@media all and (min-width: 800px) {

  section, h1 {
      padding: 0 10%;
  }

  .group {
      flex-direction: row;
  }

}